<p id="notice"><%= notice %></p>

<h1>Listing Layout Patterns</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @layout_patterns.each do |layout_pattern| %>
      <tr>
        <td><%= layout_pattern.name %></td>
        <td><%= layout_pattern.note %></td>
        <td><%= link_to 'Show', layout_pattern %></td>
        <td><%= link_to 'Edit', edit_layout_pattern_path(layout_pattern) %></td>
        <td><%= link_to 'Destroy', layout_pattern, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Layout pattern', new_layout_pattern_path %>
